.gallery{
  overflow: hidden;
}


.gallery_image {
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
/*  width: 25%;*/
  width: 33.33333333333333%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .gallery_image {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .gallery_image {
    width: 50%;
  }
}
.gallery_image:before {
  content: "";
  padding-top: 100%;
  display: block;
}
.gallery_image img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: 1;
}
.gallery_image:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background: rgba(0, 0, 0, 0.2);*/
  -webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}
.gallery_image:hover:after {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}



/* gallery section ends */

.banner_secondary {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-family: "Proxima Nova";
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  margin-bottom: 0px;
}

.banner_primary {
  position: absolute;
  vertical-align: middle;
  text-align: center;
  font-size: 50px;
  font-family: "Proxima Nova";
  color: rgba(255, 255, 255, 0.969);
  line-height: 132px;
  margin-bottom: 0px;
}

/*Nav bar*/

.navbar{
  z-index: 100;
  position: fixed;
  width: 100%;
  background: transparent;
  /*background-color: rgb(255, 255, 255);*/
  box-shadow: 0.5px 0.866px 3px 0px rgba(0, 0, 0, 0.055);
  border: none;
}

.navbar-brand {
  font-family: "proxima nova";
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  color: #ffffff!important;
  border: none;
}

.nav_links {
  float: right;
}

.navbar-default .navbar-nav > li > a{
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-size: 16px;
  line-height: 68px;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #ffffff;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -ms-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 22px;
  padding-right: 22px;
}

/* Nav hacks
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
    nav hacks end */


/* .nav_links > ul {
  list-style: none;
  font-size: 20px;
  font-family: "Proxima Nova";
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 0px;
}

.nav_links > ul > li{
  display: inline-block;
  line-height: 70px;
  padding-left: 22px;
  padding-right: 22px;
  color: #000000;
}

.nav_links > ul > li:hover {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

 .nav_links > ul > li > a:hover{
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
 }

.nav_links > ul > li > a {
  color: rgba(255, 255, 255, 1);
  color: #000000;
  padding-left: 0px;
  padding-right: 0px;
} */

/* .nav_links > ul > li > a:hover, .nav_links > ul > li > a:focus {
} */


 .background_mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  z-index:1;
}

 .fullscreen{
  position: relative;
 }


 video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}


.heading_main {
  color: #000000;
  font-weight: 600;
  text-align: left;
}

.padding_topandbot {
  padding-top: 77px;
  padding-bottom: 77px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.parallax_container{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.background {
  z-index: -10;
  top: 0;
}


.intro_section {
  min-height: 550px;
/*  background-color: black;*/
}

#scene {
  overflow: hidden;
}

.background_image_container {
  width: 100%;
  height: 100%;
  z-index: -10;
}

.background_image{
  background-image: url('../images/Background.jpg');
  position: absolute;
  background-size: cover;
  width: 115%;
  top: -5%;
  left: -10%;
  bottom: -5%;
}

.background_image:after{
  content: "";
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.30);
  z-index:1;
}

.secondary_container{
  width: 100%;
}

#scene {
  width: 100%;
}

.layer {
  right: 0;
  height: 100%;
}

.content-primary {
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
}
.content {
  margin: 0 0 12.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  text-align: center;
  margin-left: -270px;
  transform: translateY(-50%);
  font-family: "Proxima Nova";
}

.content-1 {
  transform: translateY(-120%);
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.content-2 {
  transform: translateY(20%);
  padding-left: 38px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}